body {
    background-color: rgb(238, 109, 206);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}

#particles-js {
    position: fixed;
    z-index: -1;
    /* Mantén el resto de tus estilos para #particles-js aquí */
}

#flower {
    height: 400px; /* Cambia el tamaño de la flor según tus necesidades */
    width: 400px; /* Cambia el tamaño de la flor según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Mantén el resto de tus estilos para #mid, #petal11, #petal12 y otros pétalos aquí */

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#flower {
    height: 200px;
    width: 200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#mid {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle, #000, #ff5e00, #000);
    z-index: 4;
    background-size: 5px 5px;
    filter: drop-shadow(0 0 8 #601212);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#petal11{
    position: absolute;
    left: 40px;
    z-index: 3;
    width: 120px;
    height: 30px;
    border-radius: 50%;
    background:  radial-gradient(circle, #ff5e00, #ff5e);
    filter: drop-shadow(0 0 5px #e05200);
    transform: rotate(22.5deg);
}

#petal12{
    position: absolute;
    left: 40px;
    z-index: 3;
    width: 120px;
    height: 30px;
    border-radius: 50%;
    background:  radial-gradient(circle, #ff5e00, #ff5e);
    filter: drop-shadow(0 0 5px #e05200);
    transform: rotate(67.5deg);
}
#petal13{
    position: absolute;
    left: 40px;
    z-index: 3;
    width: 120px;
    height: 30px;
    border-radius: 50%;
    background:  radial-gradient(circle, #ff5e00, #ff5e);
    filter: drop-shadow(0 0 5px #e05200);
    transform: rotate(110.5deg);
}
#petal14{
    position: absolute;
    left: 40px;
    z-index: 3;
    width: 120px;
    height: 30px;
    border-radius: 50%;
    background:  radial-gradient(circle, #ff5e00, #ff5e);
    filter: drop-shadow(0 0 5px #e05200);
    transform: rotate(157.5deg);
}

#petal21{
    position: absolute;
    left: 0;
    z-index: 2;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff5e00, #ff5e);
    filter: drop-shadow(0 0 5px );
}

#petal22{
    position: absolute;
    left: 0;
    z-index: 2;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff5e00, #ff5e);
    filter: drop-shadow(0 0 5px #e05200);
    transform: rotate(90deg);
}

#petal23{
    position: absolute;
    left: 0;
    z-index: 2;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff5e00, #ff5e);
    filter: drop-shadow(0 0 5px #e05200);
    transform: rotate(45deg);
}
#petal24{
    position: absolute;
    left: 0;
    z-index: 2;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff5e00, #ff5e);
    filter: drop-shadow(0 0 5px #e05200);
    transform: rotate(135deg);
}

#petal31{
    position: absolute;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #21ac0e, #ff5e);
    filter: drop-shadow(0 0 5px #21ac0e);
    transform: rotate(22.5deg);
}

#petal32{
    position: absolute;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #21ac0e, #ff5e);
    filter: drop-shadow(0 0 5px #21ac0e);
    transform: rotate(67.5deg);
}

#petal33{
    position: absolute;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #21ac0e, #ff5e);
    filter: drop-shadow(0 0 5px #21ac0e);
    transform: rotate(110.5deg);
}
#petal34{
    position: absolute;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #21ac0e, #ff5e);
    filter: drop-shadow(0 0 5px #21ac0e);
    transform: rotate(157.5deg);
}